body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.section-title-2 {
    font-size: 2.5em;
    background-color: #0f62fe; /* Blue background for the section title */
    color: #ffffff; /* White color for the text */
    text-align: center; /* Center align the section title */
    margin: 40px 0;
    /*margin: 40px auto;*/
    margin-right: -140px;
    margin-bottom: 90px ;
    padding: 5px 10px; /* Add padding to trim the edges */
    border-radius: 10px; /* Rounded corners */
    margin-top: 50px;
 }

.experience-entry {
    margin: 0; /* Remove any margin */
    padding: 25px; /* Add padding for spacing within the entry */
    text-align: left; /* Align text to the left */
    background-color: #444; /* Light grey background */
    color: #ffffff; /* Dark text color for readability */
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
}

.experience-entry h2, .experience-entry p {
    margin: 0; /* Ensure text starts from the very left */
    padding: 0; /* Ensure text starts from the very left */
    color: #ffffff; /* White color text for better visibility */
    text-align: left;
}

.experience-entry h2 {
    font-size: 1.3em;
    color: #ffffff; /* White color for titles */
    margin: 0;
}

.experience-entry p {
    font-size: 1em;
    margin: 0; /* Remove margins from paragraphs */
}

.exp_container {
    max-width: 100%;
    margin: 0; /* Align the container with the screen origin */
    padding: 0; /* Remove padding */
    margin-bottom: 100px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .experience-entry h2 {
        font-size: 1.5em; /* Larger font size for mobile */
    }
    
    .experience-entry p {
        font-size: 1em; /* Adjust paragraph font size for mobile as needed */
    }
}
